services:
  - type: web
    name: evcharger-springboot
    rootDir: EVChargerSpringBoot
    env: docker
    plan: free
    region: singapore # Optional, pick closest to you
    envVars:
      - key: PORT
        value: 8080
      - key: JAVA_VERSION
        value: 17
      - key: DATABASE_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: FRONTEND_URL
        sync: false
